body{
    border:none;
    padding:0;
    margin:auto;
    background-image:url('snazzy-image.png');
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;    
}
img{
    width:100%;

}
.form-input{
    position: absolute;
    top:10%;
    right:5%;
    width:25%;
    background-color: #ffffff;
    padding:10px 20px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.form-input input{
    border:none;
    outline: none;
    height:40px;
    width:100%;
    font-size: 30px;
    color: #9e9e9e;
    border:1px solid rgba(0,0,0,0.24);
    padding:5px 20px;
    border-radius: 50px;
}
.form-input label{
    color: #9e9e9e;
    padding:10px;
    width:100%;
    padding-bottom: 10px;
}