*{
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Thasadith', sans-serif; */
}
*:active,
*:focus{
    outline:none;
}
.vjs-play-progress.vjs-slider-bar{

    background-color: #00BCD4;
}
.video-js .vjs-play-progress:before{
    display: none;
}
.video-js .vjs-control-bar{
    background-color: transparent;
}
.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar{
    opacity: 1;
}
.video-js .vjs-big-play-button{
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    border:none;
    width:80px;
    height:50px;
    border-radius: 5px;
    line-height: 50px;
}
.video-js .vjs-big-play-button:hover{
    background-color: #00BCD4;
}
.tubecss{
    width:100%; 
    height:70vh; 
}
.navbar{
    border:none;
}
.form-control{
    border:none;
    border-radius: 2px;
}
.navbar-brand{
    padding: 0 10px;
    border-radius: 2px;
    color: rgba(255, 255, 255, 0.8) !important;
    font-weight: 400;
}
.imger{
    width:100%;
    height:120px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.material-icons{
    vertical-align: middle;
}
.bg-danger,.btn-danger{
    background-color: #00BCD4;
}
.sub-button{
    border-radius: 50px;
}